/* .Audio-click{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 100px;
    padding-bottom: 70px;
} */

.Audio-toggle{
    z-index: 1;
    position: fixed;
    background-color: #8D7B68;
    box-shadow: 2px 1px 7px 3px rgb(104, 104, 104);
    font-family: 'Roboto Slab', serif;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    opacity: 1;
    margin-left: 68rem;
    margin-top: 28rem;
}

.hidden{
    opacity: 0;
}
.visible{
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .Audio-toggle{
        height: 60px;
        width: 60px;
        font-size: 14px;
        margin-left: 19.3rem;
        margin-top: 32rem;
    }
}