.Live-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;
    height: 165vh;
    width: 100%;
    color: #8D7B68;
    background-color: rgb(238, 238, 238);
}

.Live-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-inline:1rem ;
    width: 96%;
    height: 8vh;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
}

.btn-Live{
    width: 50%;
    height: 70%;
    border-radius: 5px;
}

.btn-active{
    background-color: rgb(255, 255, 255);
}

.Live-live{
    background-image: url(../image/bg-bridge3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.Live-in{
    width: 96%;
    height: 100vh;
}

.Live-desk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Live-scheadule{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #8D7B68;
}

.btn-zoom{
    background-color: rgb(41, 41, 41);
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70px;
    border-radius: 20rem;
}
@media only screen and (max-width: 768px) {
    .Live-container{
        padding-top: 3rem;
        height: 70vh;
    }
    .Live-in{
        height: 30vh;
    }
    .Live-scheadule{
        font-size: 15px;
    }
    .Live-live{
        gap: .5rem;
    }
    .btn-zoom{
        height: 30px;
        width: 50%;
    }
}